@charset "utf-8";
/* CSS Document */
html,body{
height:100%;
margin:0 auto;
}

.banner{
	
	height:390px;
	overflow:hidden;
	margin:0 auto;
	/*border:2px solid yellow;*/
	background-image:url(../images/loader.gif);
	background-repeat:no-repeat;
	background-position:center;
}

.banner img {
	width:100%;
	height:100%;

	display:none;	
	/*border:3px solid green;*/
}





/*
.banner{
	min-height:100%;
	height: 100%;
	overflow:hidden;
	border:2px solid yellow;
}

.banner img {
	height:auto;
	min-height:61%;
	max-height:61%;
	width:100%;
	
	z-index: 0;
		
	border:3px solid green;
}
*/


img.fullImage{
	width:100%;
}
